### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [109]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load, encoding="utf-8")
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [110]:
#PLAYER COUNT
#Display the total number of players
total_player_count = len(purchase_data["SN"].unique())
summary_total_player = pd.DataFrame({"Total Player Count": [total_player_count]})
summary_total_player

   Total Player Count
0                 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [111]:
#PURCHASING ANALYSIS (TOTAL)
#Run basic calculations to obtain number of unique items, average price, etc.
unique_items = len(purchase_data["Item Name"].unique())
avg_price = sum(purchase_data["Price"])/len(purchase_data["Price"])
num_purchases = len(purchase_data["Purchase ID"])
tot_revenue = purchase_data["Price"].sum()

# Create a summary data frame to hold the results
summary_table_purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                              "Average Price": [avg_price],
                              "Number of Purchases": [num_purchases],
                              "Total Revenue": [tot_revenue]})

# Give the displayed data cleaner formatting
summary_table_purchasing_analysis["Average Price"]=summary_table_purchasing_analysis["Average Price"].map("${:.2f}".format)
summary_table_purchasing_analysis["Total Revenue"]=summary_table_purchasing_analysis["Total Revenue"].map("${:,.2f}".format)

# Display the summary data frame
summary_table_purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [112]:
#GENDER DEMOGRAPHICS
# Percentage and Count of Players by Gender Summary Table
gender_df = purchase_data.groupby("Gender")["SN"].nunique()
gender_df.head()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [113]:
gender_percent = gender_df/(gender_df.sum())*100
gender_percent = gender_percent.map("{:.2f}%".format)
gen_perc = list(gender_percent)

In [114]:
summary_gender = pd.DataFrame({"Total Count": gender_df, "Percentage of Players": gen_perc})
summary_gender

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [115]:
#PURCHASING ANALYSIS (GENDER)
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

groupby_gender_df = purchase_data.groupby(['Gender'])
groupby_gender_df.count().head()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [116]:
purchase_count_groupby_gender_df = groupby_gender_df["Purchase ID"].count()
purchase_count_groupby_gender_df

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [117]:
avgprice_groupby_gender_df = groupby_gender_df["Price"].mean()
avgprice_groupby_gender_df

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [118]:
tot_price_groupby_gender_df = groupby_gender_df["Price"].sum()

tot_price_groupby_gender_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [119]:
gender_df.dtypes

dtype('int64')

In [120]:
tot_price_groupby_gender_df.dtypes

dtype('float64')

In [121]:
avg_tot_per_person_df = tot_price_groupby_gender_df/gender_df
avg_tot_per_person_df

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [122]:
# Create a summary data frame to hold the results
summary_purchasing_analysis_gender = pd.DataFrame({"Purchase Count": purchase_count_groupby_gender_df, 
                                                   "Average Purchase Price": avgprice_groupby_gender_df,
                                                   "Total Purchase Value": tot_price_groupby_gender_df,
                                                   "Avg Total Purchase per Person": avg_tot_per_person_df})

# Give the displayed data cleaner formatting
summary_purchasing_analysis_gender["Total Purchase Value"]=summary_purchasing_analysis_gender["Total Purchase Value"].map("${:,.2f}".format)
summary_purchasing_analysis_gender["Avg Total Purchase per Person"]=summary_purchasing_analysis_gender["Avg Total Purchase per Person"].map("${:,.2f}".format)

# Display the summary data frame
summary_purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,$361.94,$4.47
Male,652,3.017853,"$1,967.64",$4.07
Other / Non-Disclosed,15,3.346000,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [123]:
print(purchase_data["Age"].min())
print(purchase_data["Age"].max())

7
45

In [124]:
#AGE DEMOGRAPHICS
#Establish bins for ages
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [125]:
# Categorize the existing players using the age bins.
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [126]:
player_age_df = purchase_data.groupby("Age Ranges")["SN"].nunique()
player_age_df.head()

Age Ranges
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
Name: SN, dtype: int64

In [127]:
age_percent = player_age_df/(player_age_df.sum())*100
age_percent = age_percent.map("{:.2f}%".format)
age_perc = list(age_percent)

In [128]:
summary_age_demographics = pd.DataFrame({"Total Count": player_age_df, "Percentage of Players": age_perc})
summary_age_demographics

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [129]:
#PURCHASING ANALYSIS (AGE)
# Bin the purchase_data data frame by age
# age_group = purchase_data.groupby("Age Ranges")
# age_group

In [130]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

purchase_count_by_age = purchase_data.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")
purchase_count_by_age

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase Count, dtype: int64

In [131]:
avg_price_by_age = purchase_data.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
avg_price_by_age

Age Ranges
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Average Purchase Price, dtype: float64

In [132]:
tot_purchase_price = purchase_data.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Price")
tot_purchase_price

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Total Purchase Price, dtype: float64

In [133]:
player_age_df.dtypes

dtype('int64')

In [134]:
tot_purchase_price.dtypes

dtype('float64')

In [135]:
avg_tot_price_per_person = tot_purchase_price / player_age_df

avg_tot_price_per_person

Age Ranges
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [136]:
# Create a summary data frame to hold the results
summary_age = pd.DataFrame({"Purchase Count": purchase_count_by_age,
                            "Average Purchase Price": avg_price_by_age,
                            "Total Purchase Value": tot_purchase_price,
                            "Avg Total Purchase per Person": avg_tot_price_per_person})
summary_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

In [137]:
# Give the displayed data cleaner formatting
summary_age["Average Purchase Price"] = summary_age["Average Purchase Price"].map("${:,.2f}".format)
summary_age["Total Purchase Value"] = summary_age["Total Purchase Value"].map("${:,.2f}".format)
summary_age["Avg Total Purchase per Person"] = summary_age["Avg Total Purchase per Person"].map("${:,.2f}".format)
# Display the summary data frame
summary_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [138]:
top_spenders_df = purchase_data.groupby("SN")

In [139]:
purchase_count_by_spender = top_spenders_df["Purchase ID"].count()
purchase_count_by_spender

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [140]:
avg_price_by_spender = top_spenders_df["Price"].mean()
avg_price_by_spender

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [141]:
tot_price_by_speader = top_spenders_df["Price"].sum()
tot_price_by_speader

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [142]:
summary_top_spender = pd.DataFrame({"Purchase Count": purchase_count_by_spender,
                                    "Average Purchase Price": avg_price_by_spender,
                                    "Total Purchase Value": tot_price_by_speader})
summary_top_spender["Average Purchase Price"] = summary_top_spender["Average Purchase Price"].map("${:,.2f}".format)
summary_top_spender["Total Purchase Value"] = summary_top_spender["Total Purchase Value"].map("${:,.2f}".format)
summary_top_spender

               Purchase Count Average Purchase Price Total Purchase Value
SN
Adairialis76                1                  $2.28                $2.28
Adastirin33                 1                  $4.48                $4.48
Aeda94                      1                  $4.91                $4.91
Aela59                      1                  $4.32                $4.32
Aelaria33                   1                  $1.79                $1.79
...                       ...                    ...                  ...
Yathecal82                  3                  $2.07                $6.22
Yathedeu43                  2                  $3.01                $6.02
Yoishirrala98               1                  $4.58                $4.58
Zhisrisu83                  2                  $3.94                $7.89
Zontibe81                   3                  $2.68                $8.03

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [143]:
item_df = purchase_data.groupby("Item ID")
item_df
#have to do one data functin mean, median, mode, sum and it will become that dataframe

In [144]:
tot_purchase_count = item_df["Purchase ID"].count().rename("Total Purchase Count")
tot_purchase_count

Item ID
0       4
1       4
2       6
3       6
4       5
       ..
178    12
179     6
181     5
182     3
183     3
Name: Total Purchase Count, Length: 179, dtype: int64

In [145]:
tot_purchase_value = purchase_data["Price"]*tot_purchase_count
tot_purchase_value = tot_purchase_value
tot_purchase_value

0      14.12
1       6.24
2      29.28
3      19.62
4       7.20
       ...
775      NaN
776      NaN
777      NaN
778      NaN
779      NaN
Length: 780, dtype: float64

In [146]:
item_price = purchase_data["Price"].rename("Item Price").map("${:.2f}".format)
item_name = purchase_data["Item Name"]
item_id = purchase_data["Item ID"]

In [147]:
summary_item = pd.DataFrame({"Item ID": item_id,
                             "Item Name": item_name,
                             "Purchase Count": tot_purchase_count,
                             "Item Price": item_price,
                             "Total Purchase Value": tot_purchase_value})
summary_item.head()

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,108,"Extraction, Quickblade Of Trembling Hands",4.0,$3.53,14.12
1,143,Frenzied Scimitar,4.0,$1.56,6.24
2,92,Final Critic,6.0,$4.88,29.28
3,100,Blindscythe,6.0,$3.27,19.62
4,131,Fury,5.0,$1.44,7.20

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [148]:

summary_item['Total Purchase Value'].dtypes

dtype('float64')

In [149]:
summary_item = summary_item.dropna()
summary_item = summary_item.sort_values(by=['Total Purchase Value'], ascending=False)

summary_item

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
178,57,"Despair, Favor of Due Diligence",12.0,$4.60,55.20
92,39,"Betrayal, Whisper of Grieving Widows",13.0,$3.94,51.22
132,145,Fiery Glass Crusader,9.0,$4.58,41.22
82,160,Azurewrath,9.0,$4.40,39.60
19,89,"Blazefury, Protector of Delusions",8.0,$4.64,37.12
...,...,...,...,...,...
177,135,Warped Diamond Crusader,2.0,$1.40,2.80
134,2,Verdict,1.0,$2.48,2.48
126,75,Brutality Ivory Warmace,1.0,$2.42,2.42
104,53,Vengeance Cleaver,1.0,$2.05,2.05
63,125,Whistling Mithril Warblade,2.0,$1.00,2.00

In [152]:
summary_item['Total Purchase Value'] = summary_item['Total Purchase Value'].map("${:.2f}".format)
summary_item.head()

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
178,57,"Despair, Favor of Due Diligence",12.0,$4.60,$55.20
92,39,"Betrayal, Whisper of Grieving Widows",13.0,$3.94,$51.22
132,145,Fiery Glass Crusader,9.0,$4.58,$41.22
82,160,Azurewrath,9.0,$4.40,$39.60
19,89,"Blazefury, Protector of Delusions",8.0,$4.64,$37.12

In [150]:
# summary_item.iloc[:,0:1].style.applymap('font-weight: %s' % 'bold')
# summary_item
#have to set the index to something else, if you are going to export it to a csv have to tell it that the index is going to be false